<div class="navbar">
  <%= link_to "Havens", root_path, class: "logo" %>
  <div class="buttons-box">
    <a href="<%= crisis_path %>" title="Housing crisis"><i class="fa-solid fa-house-chimney-crack fa-lg"></i></a>
    <a href="<%= about_path %>" title="About us"><i class="fa-solid fa-circle-info fa-lg"></i></a>
    <% if user_signed_in? %>
      <a href="<%= new_apartment_path %>" title="Add a haven"><i class="fa-solid fa-square-plus fa-lg"></i></a>
      <a href="#" title="Chat"><i class="fa-solid fa-comments fa-lg"></i></a>
      <a href="<%= edit_user_registration_path %>" title="Edit profile"><i class="fa-solid fa-house-user fa-lg"></i></a>
      <a href="<%= destroy_user_session_path %>" data-turbo-method="delete" title="Log out"><i class="fa-solid fa-right-from-bracket fa-lg"></i></a>
    <% else %>
      <%= link_to "Log in", new_user_session_path, class: "btn-nav" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn-nav" %>
    <% end %>
  </div>
</div>
