<div class="container-100">
  <div class="flex">
    <div class="left">
      <h2><%= @apartment.name %></h2>
      <p>Address: <%= @apartment.address %></p>
      <p><%= @apartment.description %></p>
      <br><br>
      <p>Price: <%= @apartment.price %>k €</p>
      <p>Dimensions: <%= @apartment.square_meters %> m2</p>
      <br>
      <div class="flex-next">
        <h3>Reviews</h3>
        <a href="<%= new_apartment_review_path(@apartment) %>"><i class="fa-solid fa-plus"></i></a>
      </div>
      <ul class="review">
        <% if @apartment.reviews.empty? %>
          <li>No reviews yet</li>
        <% else %>
          <% @apartment.reviews.each do |review| %>
            <div class="review-card">
              <li><%= review.content%></li>
              <a href="<%= review_path(review) %>" data-turbo-method="delete" data-turbo-confirm="Are you sure?" class="delete"><i class="fa-regular fa-trash-can"></i></a>
            </div>
          <% end %>
        <% end %>
      </ul>
      <% if current_user == @apartment.user %>
        <div class="show-buttons">
          <%= link_to "Edit this haven", edit_apartment_path(@apartment), class: "button green", style: "margin-right:10px;" %>
          <%= link_to "Delete this haven",
            apartment_path(@apartment),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "button red" %>
        </div>
      <% end %>
    </div>
    <div class="right">
      <div>
        <%= cl_image_tag @apartment.photo.key %>
      </div>
      <div class="map-container"
        data-controller="map"
        id="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
